
/*与公共差别的地地方*/
.banner_left{display: none;}


/*main_con*/
#main{min-height: 600px;border-bottom: 60px solid #fff;}
.main_con{height: 600px;width: 1143px;margin: 0 auto;margin-top: 30px;margin-bottom: 60px ;background: #fff;border: 1px solid #CCCCCC;padding-top: 50px;padding-left: 55px;}
.liucheng{margin-right: 55px; width: 480px;height: 42px;background: url(../img/step1.png) no-repeat;float: right;}
.liucheng p{float: left;width:160px;color: #7abd54;font-size: 12px;text-align: center;height: 20px;line-height: 20px;margin-top: 24px;}
.main_con h2{margin-top: 30px; color: black;font-size: 22px;font-weight: 600;}
.shop_th{width: 1090px;height: 42px;background: #f3f3f3;margin-top: 28px;line-height: 42px;margin-bottom: 12px;}
.shop_th p{float: left;font-size: 12px;color: black;width: 110px;}
.shop_th input{width: 12px;height: 14px;float: left;margin-top: 15px;margin-left: 12px;}
.shop_th .p2{width: 560px;}
.shop_th .p3{width: 90px;}
.shop_th .p1{width: 140px;}
.shop_th .p4{width: 40px;}
.shop_list{width: 1090px;height: 90px;background: #f3f3f3;border-top: 1px solid #c5c5c5;padding-top: 18px;}
.shop_list input{width: 12px;height: 14px;float: left;}
.sp_img{width: 79px;height: 79px;border: 1px solid #eee;float: left;margin-left: 22px;margin-right: 16px;}
.sp_name{float: left;font-size: 12px;color: #666666;width: 594px;margin-top: 30px;}
.sp_price{width: 80px;margin-top: 30px;float: left;font-size: 14px;color: black;}
.sp_shuliang{width: 135px;margin-top: 30px;float: left;font-size: 14px;color: black;}
.jian_btn{width: 17px;border: 1px solid #cacbcb;float: left;text-align: center;cursor: pointer;}
.jia_btn{width: 17px;border: 1px solid #cacbcb;float: left;text-align: center;cursor: pointer;}
.zhi{width: 38px;border: 1px solid #cacbcb;float: left;margin-left: 2px;margin-right: 2px;text-align: center;}
.sp_total_pri{float: left;width: 80px;margin-top: 30px;font-size: 14px;color: black;}
.delete_btn{display: block;color: #4e6193;font-size: 12px;height: 30;line-height: 30px;margin-top: 10px;}
.jiaru_shoucang{display: block;color: #4e6193;font-size: 12px;height: 30;line-height: 30px;}
